/*  your css code here. If applicable */
 body {
            background-color: rgb(204, 204, 204);
            font-family: Arial, sans-serif;
        }

        h1, h2 {
            text-align: center;
        }

        .playlist_box {
            width: 80%;
            margin: auto;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            border: 2px solid black;
        }

        ul li {
            list-style-type: none;
            margin: 8px 0;
        }

        ul li a {
            text-decoration-line: none;
            color: black;
            font-size: 18px;
        }

        .player_one, .player_two {
            width: 80%;
            margin: 20px auto;
            background-color: rgb(255, 255, 255);
            padding: 20px;
            border-radius: 10px;
            border: 2px solid black;
        }